<form action="">
    <label for="">Add meg a neved:</label>
        <input type="text" name="inputName" id="inpName"><br>
    <label for="">Add meg a korod:</label>
        <input type="text" name="inputAge" id="inpAge"><br>

    <input type="submit" id="submit" value="Feldolgoz">
</form>